<app-breadcrumb></app-breadcrumb>
<!-- Merchandise Details Modal -->

<div class="container mt-5 mb-5">
  <div class="roww"></div>
</div>

<div>
  ...

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Utility Tracktor</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            class="img-fluid"
            src="../../assets/images/6140m-utility-tractor-thumb.jpg"
            alt=""
          />
          <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, magni repudiandae saepe distinctio, culpa sunt dolor
            architecto unde animi minima delectus. Dolorem reprehenderit, amet
            sit impedit repellendus omnis eligendi veniam.
          </p>
          <span class="vendor bg-info mx-3 px-3 py-2"
            ><strong>Sold By:</strong> Meshack Keating</span
          >
          <span class="vendor bg-success px-3 py-2 my-2"
            ><strong>Location:</strong> Eldoret</span
          ><br />

          <button class="btn bg-dark px-3 py-2 text-white mt-3">
            Phone: 0712-345678
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center mt-5">Merchandise Available</h1>

    <div class="row my-5">
      <div
        *ngFor="
          let catalogue of catalogues
            | paginate
              : { itemsPerPage: 4, currentPage: page, totalItems: totalLength }
        "
        class="col mb-4"
      >
        <div class="card shadow-lg mb-3" style="width: 16rem">
          <img
            class="img-thumbnail"
            style="height: 260px"
            src="{{ catalogue.image }}"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body" style="background-color: #d9d9d9">
            <h5 class="card-title">{{ catalogue.name }}</h5>
            <p class="card-text">
              {{ catalogue.description }}
            </p>

            <h4>{{ catalogue.author }}</h4>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
