<!-- Hero Section -->
<section class="hero">
  
  <div class="hero-wrapper">
    <h1 class="hero-title">Mkulima <span class="color">Base</span></h1>
    <p class="hero-intro">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, aut
      exercitationem quidem sint quibusdam facilis quam voluptatem rerum
      temporibus ut!
    </p>
    <div class="text-center">
      <a href="#">
        <button class="btn btn-outline-mk">Discover More</button>
      </a>
    </div>
  </div>
</section>

<!-- Intro section -->
<section class="intro py-5 body">
  <div class="container">
    
    <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1">
      <div class="col-4">
        <h2 class="intro-subtitle fs-4">What we do</h2>
        <h3 class="intro-title fs-2">Mkulima Base</h3>
      </div>
      <div class="col-8">
        <p class="lh-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic a
          tempore, tempora voluptate, minus est voluptas repellat sit aliquam
          accusamus. Sit eligendi tempore alias soluta eaque perspiciatis modi
          id!
        </p>
        <p class="lh-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero hic a
          tempore, tempora voluptate, minus est voluptas repellat sit aliquam
          accusamus. Sit eligendi tempore alias soluta eaque perspiciatis modi
          id!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Register Section -->
<section class="register py-5 bg-dark">
  <div class="container">
    <h3 class="regis-text text-center my-4 text-white fs-2 fw-500">
      Register below to receive advises from other farmers and experts
    </h3>
    <form
      [formGroup]="form"
      (ngSubmit)="registerUser()"
      style="max-width: 800px"
      class="mx-auto"
    >
      <div class="form-group d-flex mk-group">
        <input
          formControlName="email"
          class="form-control"
          type="email"
          name="email"
          placeholder="email"
        />
      </div>
      <div class="form-group d-flex mk-group">
        <input
          formControlName="first_name"
          class="form-control"
          type="text"
          name="firstname"
          placeholder="first name"
        />
        <input
          formControlName="last_name"
          class="form-control"
          type="text"
          name="lastname"
          placeholder="last name"
        />
      </div>

      <div class="form-group d-flex mk-group">
        <input
          formControlName="password"
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
        />
        <input
          formControlName="password_confirm"
          class="form-control"
          type="password"
          name="password_confirm"
          placeholder="confirm password"
        />
      </div>

      <input
        class="btn mk-btn form-control signup"
        type="submit"
        value="REGISTER"
      />
    </form>
  </div>
</section>

<!-- Feeds section -->
<section class="feeds-categories py-5 body">
  <div class="container">
    <h3 class="feeds-title my-4 text-center">
      Select Category Below To Find Answers To Your Questions
    </h3>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 my-5">
      <div class="col-3">
        <a class="card-link" href="#">
          <div class="card veg-card p-3">
            <h4 class="mk-card-title">Fresh</h4>
            <p class="mk-card-subtitle">Vegetables</p>
          </div>
        </a>
      </div>
      <div class="col-3">
        <a class="card-link" href="#">
          <div class="card dairy-card p-3">
            <h4 class="mk-card-title">Dairy</h4>
            <p class="mk-card-subtitle">Produce</p>
          </div>
        </a>
      </div>
      <div class="col-3">
        <a class="card-link" href="#">
          <div class="card live-card p-3">
            <h4 class="mk-card-title">Livestock</h4>
            <p class="mk-card-subtitle">Animals</p>
          </div>
        </a>
      </div>
      <div class="col-3">
        <a class="card-link" href="#">
          <div class="card agri-card p-3">
            <h4 class="mk-card-title">Agriculture</h4>
            <p class="mk-card-subtitle">General</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="AddProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Merchandise </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="sumbitsite">

          <div class="card" style="width: 30rem;height: 30rem;background-color: #F4F7F6;">
              <h3 class="h3 text-center">Product Details</h3>
              <div class="myform d-flex justify-content-center">
                  <form [formGroup]="angForm" (ngSubmit)="AddProduct(angForm)" enctype="multipart/form-data">
                      
                      <div class="pname mt-1">
                          <label class="label" for="">Product name:</label><br>
                          <input class="form-control me-2" type="text" formControlName="name" placeholder="Name..">
          
                      </div>
                      <div class="loca mt-3">
                          <label class="label" for="">Description:</label><br>
                          <input class="form-control me-2" type="text" formControlName="description" placeholder="description.." >
                      </div>
                      
                      <div class="pimage mt-3">
                          <label class="label" for="">Project image:</label><br>
                          <input class="form-control me-2"  type="file" (change)="onFileSelect($event)">
                      </div>
                      <!-- <div class="plink mt-3" *ngFor="let current of currentuser">
                        <label class="label" for=""></label><br>
                        <input class="form-control me-2" type="hidden" name="plink" id="plink" formControlName="author" value="{{current.id}}" >
                    </div> -->
                      <br>
                      <div class="btn1 d-flex justify-content-center">
                      <button class="btn btn-success" type="submit">Submit</button>
      
                      </div>
                      
                  </form>
              </div>
      
          </div>
      
      </div>
      
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="AddFeed" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Feed</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="sumbitsite">

          <div class="card" style="width: 30rem;height: 30rem;background-color: #F4F7F6;">
              <h3 class="h3 text-center">Feed Details</h3>
              <div class="myform d-flex justify-content-center">
                  <form [formGroup]="feedForm" (ngSubmit)="AddFeed(feedForm)" enctype="multipart/form-data">
                      
                      <div class="pname mt-1">
                          <label class="label" for="">Feed title:</label><br>
                          <input class="form-control me-2" type="text" formControlName="title" placeholder="title..">
          
                      </div>
                      <div class="loca mt-3">
                          <label class="label" for="">Description:</label><br>
                          <input class="form-control me-2" type="text" formControlName="description" placeholder="description..">
                      </div>
                      <div class="loca mt-3">
                        <label class="label" for="">Category:</label><br>

                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" formControlName="category">
                          <option selected>Choose category</option>
                          <option value="{{category.id}}" *ngFor="let category of categories">
                            {{category.name}}</option>
                          
                        </select>
                    </div>
                      
                      <div class="pimage mt-3">
                          <label class="label" for="">Feed image:</label><br>
                          <input class="form-control me-2"  type="file" (change)="onFileImage($event)">
                      </div>
                      <!-- <div class="plink mt-3" *ngFor="let current of currentuser">
                        <label class="label" for=""></label><br>
                        <input class="form-control me-2" type="hidden" name="plink" id="plink" formControlName="author" value="{{current.id}}" >
                    </div> -->
                      <br>
                      <div class="btn1 d-flex justify-content-center">
                      <button class="btn btn-success" type="submit">Submit</button>
      
                      </div>
                      
                  </form>
              </div>
      
          </div>
      
      </div>
      
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
