<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div
    class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 py-5 d-flex flex-wrap"
  >
    <div class="col-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7905371822694!2d36.78239551519279!3d-1.3005322990514374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109dcb26a413%3A0xca1c503989df391d!2sNgong%20Lane%20Plaza!5e0!3m2!1sen!2ske!4v1657732279656!5m2!1sen!2ske"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-6 p-3" style="max-width: 500px">
      <h2 class="about-title">How To Reach Us</h2>
      <div class="col-md-6 d-flex">
        <div class="info-wrap p-lg-5 p-4 img">
          <p class="mb-4">
            We're open for any suggestion or just to have a chat
          </p>
          <div class="">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-map-marker"></span>
            </div>
            <div class="text pl-3">
              <p>
                <span>Address:</span> Ngong Lane Plaza, Ngong Road, Nairobi,
                Kenya
              </p>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-phone"></span>
            </div>
            <div class="text pl-3">
              <p>
                <span>Phone: </span>
                <a href="tel://1234567920">+ 1235 2355 98</a>
              </p>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-paper-plane"></span>
            </div>
            <div class="text pl-3">
              <p>
                <span>Email: </span>
                <a
                  href="/cdn-cgi/l/email-protection#1f767179705f66706a6d6c766b7a317c7072"
                  ><span
                    class="__cf_email__"
                    data-cfemail="61080f070e21180e1413120815044f020e0c"
                    >info@mkulimabase.co.ke</span
                  ></a
                >
              </p>
            </div>
          </div>
          <div class="dbox w-100 d-flex align-items-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-globe"></span>
            </div>
            <div class="text pl-3">
              <p>
                <span>Website: </span> <a href="#">www.mkulimabase.co.ke</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
