<app-breadcrumb></app-breadcrumb>
<div class="container-fluid feeds-section">
  <div class="container">
    <div class="row" id="main-row">
      <div class="col-md-3">
        <div class="card-profile">
          <div class="profile-hero">
            <p class="fs-4">Profile</p>
          </div>
          <div class="profile-section">
            <div class="pimg"></div>
            <div class="profile-data">
              <p>Julius Kenya</p>
              <p>jkenya@gmail.com</p>
              <p>Kiambu</p>
              <p>+254 123 123-456</p>
            </div>
          </div>
          <div class="profile-desc">
            <p>Lorem Ipsum is simply dummy text of the...</p>
          </div>
          <div class="profile-edit">
            <button type="submit">
              <span
                class="iconify"
                data-icon="akar-icons:edit"
                data-width="62"
                data-height="60"
              ></span>
              Edit Profile
            </button>
          </div>
        </div>
        <div class="myfeeds">
          <div class="feed-hero">
            <p class="fs-4">Your Feeds</p>
          </div>
          <div class="feed-story">
            <p>How can i deal with army worms?</p>
            <p>Posted: 29/06.22</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-5">
        <div class="feeds" *ngFor="let feed of feeds">
          <div class="feeds-img">
            <img
              class="img-fluid"
              src="{{feed.image}}"
              alt=""
            />
          </div>
          <div class="feed-desc">
            <p>
              {{feed.description}}

            </p>
          </div>
          <div class="feed-replies">
            <h5 (click)="getComments(feed.id)">Comments</h5>
            <div class="replies-card">
              <div class="myreplies">

                
                <div class="reply" *ngFor="let comment of comments">
                  <div  *ngIf='equal(feed.id,comment.feeds)'>
                    <p>
                      {{ comment.comment}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="comment-card">
            <form [formGroup]="form" (ngSubmit)="postComment()">
              <input
                class="rounded shadow"
                type="text"
                name="comment"
                id="comment"
                formControlName="comment"
                placeholder="Add Comment"
              >
              <button type="submit">Add Comment</button>
            </form>
          </div>
        </div>
      </div> -->

      <div class="col-md-5" style="margin-left: 12px;">
        <div class="feed1" *ngFor="let feed of feeds">
          <div class="feeds-img">
            <img
              class="img-fluid"
              src="{{feed.image}}"
              alt=""
            />
          </div>
           <div class="feed-desc">
               <p>{{feed.description}}</p>
           </div>
           <div class="feed-replies">
               <h5>Replies</h5>
               <div class="replies-card">
                   <div class="myreplies">
                    <h5 (click)="getComments(feed.id)">Comments</h5>
                    <div class="replies-card">
                      <div class="myreplies">
        
                        
                        <div class="reply" *ngFor="let comment of comments">
                          <div  *ngIf='equal(feed.id,comment.feeds)'>
                            <p>
                              {{ comment.comment}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                   </div>

               </div>


           </div>
           <div class="comment-card">
            <form [formGroup]="form" (ngSubmit)="postComment()">
              <input
                class="rounded shadow"
                type="text"
                name="comment"
                id="comment"
                formControlName="comment"
                placeholder="Add Comment"
              >
              <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success mt-3 ">Post comment</button>


              </div>
            </form>

           </div>

        </div>
      
        

    </div>
      <div class="col-md-3" style="margin-left: 34px">
        <div class="card-side1">
          <div class="feed-hero">
            <p class="fs-4">Posts Categories</p>
          </div>
          <div class="trends-category text-center">
            <div *ngFor="let category of categories">
              
            <p>{{category.name}}</p>

            </div>
            
            <p>Discover more</p>
          </div>
        </div>
        <div class="card-side2">
          <div class="feed-hero">
            <p class="fs-4">Boost Your Farm</p>
          </div>
          <div class="sider-image">
            <img
              src="https://raw.githubusercontent.com/Misigo94/Mkulima_Angular/main/src/assets/images/2.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="sider-action">
            <button type="submit">Discover more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
