<app-breadcrumb></app-breadcrumb>
<div class="container">
  <div class="row row-cols-lg-2 row-cols-md-2 row-cols-sm-1 py-5">
    <div class="col-6">
      <img src="../../assets/images/download.jpeg" alt="" class="img-fluid" />
    </div>
    <div class="col-6 p-3">
      <h2 class="about-title">Who we are</h2>
      <p>
        Mkulima Base
        We recently discovered that farmers don't have a platform to enable them to look for tailored solutions to their
        specific problem.As much as one has access to the information on the internet ,the information provided may be broad and
        vague hence a farmer might not be able to find a solution to their problem.
        </p>
        <br>
        <p>

          So the mkulima Base web application was
          conceived to enable farmers to look for solutions to their problems, share more information about their expertise in
          farming as well as showcase their produce and their farming merchandise to other farmers.
          Thus creating a sense of an online farming community.
        </p>
    </div>
  </div>
</div>
