<section class="weather-search">
  <div class="container">
    <form class="form-group search-form text-center">
      <input
        class="form-control mb-4 py-3"
        type="search"
        placeholder="Enter your county or constituency name"
        aria-label="Search"
      />
      <button class="btn btn-lg my-2 my-sm-0 mk-search" type="submit">
        Get Weather Forecast
      </button>
    </form>
  </div>
</section>
<section class="weather-results py-5">
  <div class="container">
    <p>Weather Forecast Results</p>
    <p>results</p>
  </div>
</section>
